.box{
    margin: 100px auto;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* transform: scale(4);  */
    /* the scale thing multiples the box made */
    /* transform: skew(20deg, 40deg); */
    /* the skew just rottates the box on its axis */
    /* transform: translate(200px, 100px); */
    /* translate shifts the box wrt x and y axis */
    /* transform: rotate(20deg);  */
    /* rotate -it rotates the box */
    transition: 2s ease;
    transition-property: all;
    transition-delay: 1s;
    /* when the curser on the box, it would wait for 3 sec nd then transforms */
    transition-timing-function: ease-out;
    /* starts then slows down or starts slow and ends fast  */
}
.box:hover{
    transform: rotate(180deg);
    border-radius: 50%;  
    /* makes the box a circle , changes background color to tomato*/
    background-color: tomato;
}